.header {
  background-color: #b81111;
  border-bottom: 2px solid #1f0908;
  color: rgb(0, 255, 42);
  padding: 0 2rem; 

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px; 
}