.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #475569; /* Cor mais escura do anel */
    border-top: 5px solid #60a5fa; /* Cor do indicador de progresso */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.text {
    color: #94a3b8;
    font-size: 1.2rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}